.top-rank:nth-child(1) {
  background-color: #3e5ae5;
  color: #fff;
}

.top-rank:nth-child(1) strong,
.top-rank:nth-child(1) span {
  color: #fff;
}

.top-rank:nth-child(2) {
  background-color: #6b80eb;
}
