.start-btn {
  border: 10px solid #fdeace;
  background-color: #f7a62c;
  box-shadow: inset 0 -6px #e78f09, inset 0 6px #f6c06d, 0 6px #f6c06d;
}

.start-btn::before {
  pointer-events: none;
  content: '';
  position: absolute;
  top: -45px;
  left: -46px;
  width: 46px;
  height: 51px;
  background: url(/ico_star.svg);
}
.start-btn::after {
  pointer-events: none;
  content: '';
  position: absolute;
  top: 45px;
  right: -46px;
  width: 46px;
  height: 51px;
  background: url(/ico_star.svg);
}

.start-btn span {
  text-shadow: 0 2px 0 #e78f09;
}

.tutorial-bg {
  background: url(/speak_tutorial.svg) no-repeat center;
  background-size: contain;
}
.mb-tutorial-bg {
  background: url(/speak_mobile_tutorial1.svg) no-repeat center;
  background-size: contain;
}
.mb-tutorial-bg.ty2 {
  background-image: url(/speak_mobile_tutorial2.svg);
}
