.speak {
  background: var(--color-secondary-200);
}
.check {
  background: var(--color-tertiary-p-200);
}
.write {
  background: var(--color-tertiary-g-300);
}

/* progress_bar */
.speak .progress_bar {
  background: linear-gradient(90deg, rgba(255, 217, 159, 1) 0%, rgba(255, 169, 37, 1) 100%);
}
.write .progress_bar {
  background: linear-gradient(90deg, rgba(127, 230, 207, 1) 0%, rgba(42, 212, 175, 1) 100%);
}
.check .progress_bar {
  background: linear-gradient(90deg, rgba(221, 208, 246, 1) 0%, rgba(160, 123, 229, 1) 100%);
}
.progress_bar::before {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
  width: 98px;
  aspect-ratio: 72/62;
  background-image: url(/character_speak.svg);
  background-size: cover;
}
.write .progress_bar::before {
  background-image: url(/character_writing.svg);
}
.check .progress_bar::before {
  background-image: url(/character_checking.svg);
}

.speak h3 {
  color: var(--color-secondary-600);
}
.speak .txt {
  color: var(--color-secondary-700);
}
.write h3 {
  color: var(--color-tertiary-g-600);
}
.write .txt {
  color: var(--color-tertiary-g-700);
}
.check h3 {
  color: var(--color-tertiary-p-600);
}
.check .txt {
  color: var(--color-tertiary-p-700);
}
.speak .game_image_box {
  box-shadow: 4px 4px #c98010;
  border-color: var(--color-secondary-300);
}
.write .game_image_box {
  box-shadow: 4px 4px var(--color-tertiary-g-700);
  border-color: var(--color-tertiary-g-500);
}
.check .game_image_box {
  box-shadow: 4px 4px #814be7;
  border-color: var(--color-tertiary-p-300);
}
.game_image_box::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
}
.speak .game_image_box::before {
  box-shadow: inset 4px 4px #c98010;
}
.write .game_image_box::before {
  box-shadow: inset 4px 4px var(--color-tertiary-g-700);
}
.game_image_box::before {
  box-shadow: inset 4px 4px #814be7;
}

.speaking {
  background: url(/game_result_card_speaking.svg) var(--color-secondary-100);
  color: var(--color-secondary-500);
}

.checking {
  background: url(/game_result_card_checking.svg) var(--color-tertiary-p-100);
  color: var(--color-tertiary-p-400);
}

.writing {
  background: url(/game_result_card_writing.svg) var(--color-tertiary-g-100);
  color: var(--color-tertiary-g-600);
}

.speaking p {
  color: var(--color-secondary-300);
}

.checking p {
  color: var(--color-tertiary-p-300);
}

.writing p {
  color: var(--color-tertiary-g-400);
}

.speaking .score {
  color: var(--color-secondary-800);
}

.checking .score {
  color: var(--color-tertiary-p-800);
}

.writing .score {
  color: var(--color-tertiary-g-800);
}

.speaking .query {
  color: var(--color-secondary-700);
}

.checking .query {
  color: var(--color-tertiary-p-700);
}

.writing .query {
  color: var(--color-tertiary-g-700);
}
