.speak {
  background: #fbd498;
}
.check {
  background: #bfa5ed;
}
.write {
  background: #7fe6cf;
}

/* progress_bar */
.speak .progress_bar {
  background: linear-gradient(90deg, rgba(255, 217, 159, 1) 0%, rgba(255, 169, 37, 1) 100%);
}
.write .progress_bar {
  background: linear-gradient(90deg, rgba(127, 230, 207, 1) 0%, rgba(42, 212, 175, 1) 100%);
}
.check .progress_bar {
  background: linear-gradient(90deg, rgba(221, 208, 246, 1) 0%, rgba(160, 123, 229, 1) 100%);
}
.progress_bar::before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -48px;
  width: 98px;
  height: 84px;
  background: url(/character_speak.svg);
  background-size: cover;
}
.write .progress_bar::before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -48px;
  width: 98px;
  height: 86px;
  background: url(/character_writing.svg);
  background-size: cover;
}
.check .progress_bar::before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -48px;
  width: 94px;
  height: 89px;
  background: url(/character_checking.svg);
  background-size: cover;
}

.speak h3 {
  color: #b67007;
}
.speak .txt {
  color: #855205;
}
.write h3 {
  color: #22aa8d;
}
.write .txt {
  color: #198069;
}
.check h3 {
  color: #4f21a6;
}
.check .txt {
  color: #3b187c;
}
.speak .game_image_box {
  box-shadow: 4px 4px #c98010;
  border-color: #f9bc5f;
}
.write .game_image_box {
  box-shadow: 4px 4px #198069;
  border-color: #2ad4af;
}
.check .game_image_box {
  box-shadow: 4px 4px #814be7;
  border-color: #a07be5;
}
.game_image_box::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
}
.speak .game_image_box::before {
  box-shadow: inset 4px 4px #c98010;
}
.write .game_image_box::before {
  box-shadow: inset 4px 4px #198069;
}
.game_image_box::before {
  box-shadow: inset 4px 4px #814be7;
}

.speaking {
  background: url(/game_result_card_speaking.svg) #fdeace;
  color: #e78f09;
}

.checking {
  background: url(/game_result_card_checking.svg) #ddd0f6;
  color: #8150dd;
}

.writing {
  background: url(/game_result_card_writing.svg) #d4f7ef;
  color: #22aa8d;
}

.speaking p {
  color: #f9bc5f;
}

.checking p {
  color: #a07be5;
}

.writing p {
  color: #55ddbf;
}

.speaking .score {
  color: #543403;
}

.checking .score {
  color: #271051;
}

.writing .score {
  color: #115546;
}

.speaking .query {
  color: #855205;
}

.checking .query {
  color: #3b187c;
}

.writing .query {
  color: #198069;
}
