.swal-custom-text {
  color: var(--Primary-500, #1965d2);
  text-align: center;
  font-family: Pretendard;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.48px;
}

.swal-custom-button {
  display: flex;
  width: 240px;
  height: 52px;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  font-family: Pretendard;
  font-size: 18px;
  font-weight: 600;
  background-color: #357ee7;
  color: #fff;
  border: none;
  border-radius: 12px;
}
